%main-grids{
    display: grid;
    justify-items: center;
    align-items: stretch;
    font-size: 2rem;
    text-align: center;
}

%grids-espectaculos{
        display: grid;
        font-size: 2.5rem;
        justify-items: center;
        align-items: stretch;
        border: solid 2rem $colorBlanco;
        padding: 1rem;
}







        
        
        
        
        
      
