main{
    h1{
        @include titulos;
        font-size: 7rem;
        text-align:center;
        text-shadow: $sombrasTxt;
        margin-bottom: 3rem;

        @media screen and (max-width:768px){
            font-size: 2.9rem;
            text-shadow: black 1px 1px 5px;;
        }
    }

    div{
        margin-bottom: 5rem;
    
    }

}

.animate__animated.animate__zoomIn{

    --animate-duration: 2.5s;
}

.centrarForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    form{
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: $FuenteTitulos;
    }

    .btn-confirmar{

        font-size: 1.5rem;
        background-color: $colorRojo2;
        color: $colorBlanco;

        &:hover{
            background-color: lighten($colorRojo2, 20%);
        }
        
    }
    
}

.links-form-iniciar-sesion{

    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    
    a{
        color: $colorRojo2;
        &:hover{
            color: lighten($colorRojo2, 20%);
        }
    }
}