section{
    h1{
        @include titulos;
        font-size: 7rem;
        text-align:center;
        text-shadow: $sombrasTxt;
        margin-bottom: 3rem;

        @media screen and (max-width:768px){
            font-size: 2.9rem;
            text-shadow: black 1px 1px 5px;;
        }
    }

    div{
        margin-bottom: 5rem;
    
    }
}


.centrarForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    form{
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: $FuenteTitulos;
    }
    .btn-suscribite{
        display: flex;
        justify-content: center;
        height: 3rem;
        font-size: 5rem;
        .btn{
            &:hover{
                background-color: $colorRojo1;
                color: $colorBlanco;
            }
        }
    }
    @media screen and (max-width:768px){
        order: -1;
    }
}

.container12{
    @media screen and (max-width:768px){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.form-suscribite div, fieldset{
    @media screen and (max-width:768px){
        display: flex;
        flex-direction: column;
    }
}