.section_espectaculos{

    margin-top: 10rem;
    margin-bottom: 10rem;
    color: $colorFondoOscuro;

    h4{

        @include titulos;
        font-size: 5rem;
        display: flex;
        justify-content: center;
        padding: 1rem;
        text-shadow: black 4px 4px 10px;

    }

}



.espectaculos_grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto 2rem;
    background-color: $colorFondoOscuro;
    text-align: center;
    color: $colorBlanco;
    

    .espectaculos_item1, .espectaculos_item2, .espectaculos_item3, .espectaculos_item4, .espectaculos_item5, .espectaculos_item6{
      
        @extend %grids-espectaculos

    }

    @media screen and (max-width:768px){

        display: flex;
        flex-flow: column;
        align-items: center;
    }

}